.aws/credentials
.azure
.gnupg/trustdb.gpg
.npmrc
.nyc_output
.ssh
.wakatime.cfg
.yarnrc
config.local.js
coverage/
dist
logs
npm-debug.log
pids
run
.gitconfig
.config/tmux/plugins
.config/yazi/flavors/